@font-face {
  font-family: 'Roboto-Light';
  src: url(/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url(/Roboto/Roboto-LightItalic.tff);
}

*{
    font-family: Roboto-Light;
}

body {
    margin: 50px auto;
    padding: 50px;
    background-image: url('pictures/bg2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
     background-position: center;

  background-origin: content-box;
}
.aboutusbody{
  padding:20px; 
  background: rgba(0, 102, 19, 0.3); 
  text-align: justify;
  line-height: 1.8;
}

.recsbody{
  padding:20px; 
  background: rgba(105,122,140, 0.3); 
  text-align: justify;
  line-height: 1.8;
}

.meetusbody{
  padding:60px; 
  background: rgba(195, 164, 76, 0.3); 
  text-align: justify;
  line-height: 1.8;
}

.contactusbody{
  padding:20px;
  position: relative;
  background: rgba(117, 185, 190, 0.3); 
  line-height: 1.8;
}

.revpagebody{
  padding:15px;
  position: relative;
  background: rgba(105,122,140,0.3); 
  line-height: 1.8;
}


.center {
  margin: 0;
  position: relative;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

.header{
  width:100%; 
  padding-bottom: 35px;
  padding-left: 50px;
}

.image {
  border-radius: 18px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	width : 100%;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: rgba(76, 175, 80, 0.3); 
  padding:10px;

  position: relative;
  margin: 0 auto;
}

.module {
  /* Demo-Specific Styles */
  /*background: rgb(51, 52, 53);*/
  padding: 15px;
  display: flex;
  position: relative;
  margin:0px auto;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: rgb(100, 101, 104);
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 15px;
  float: left;
}
.id {
    line-height: .5;
    text-align: center;
    color: aliceblue;
}

.title {
    color: aliceblue;
    display: inline-block;
    overflow: visible;
    white-space: pre-wrap;
    position: absolute;
    text-align:  left;
    top: 1px;
    left: 80px;
    text-shadow: 4px 4px black;;
}

.title .text-bg{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.content {
    color: aliceblue;
    display: inline-block;
    overflow: visible;
    position: absolute;
    top: 5px;
    left: 5px;
    word-wrap: break-word;
    padding: 20px;
    
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(0, 102, 19);
  color: white;
  transform: rotateY(180deg);
  border-radius:15px
}

.link {
    color: aliceblue;
    position: absolute;
    overflow: visible;
    white-space: pre-wrap;
    left: 15px;
    bottom: 15px
}

@media screen and (min-width:780px){

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

.grid{
    width: 75%;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgb(0, 102, 19);
  color: white;
  transform: rotateY(180deg);
  border-radius:15px
}

.overlay {
  height: 100%;
  width: 0;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #0e7424;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  left: 70px;
  font-size: 60px;
}

.overlay-right{
  float: right;
  padding-right: 30px;
  padding-top: 10px;
}

}
@media only screen and (min-width: 380px) and (max-width: 480px){
.overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

  .grid{
      align-items: center;
      padding:2px;
      width: 110%;
  }
  .search-right span{

    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 80px;
    right: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: transform 0.5s;
	border-radius: 4px;
}
}
 
.overlay-right span{
    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 120px;
    left: 15px;
    /* right: 16px; */
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: all 0.5s;
	border-radius: 4px;

}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #566e3d;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-right{
  float: right;
  padding-right: 30px;
  padding-top: 10px;
}
.search {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

.search-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.search a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.search a:hover, .search a:focus {
  color: #566e3d;
}

.search .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.search-right{
  float: right;
  padding-right: 30px;
  padding-top: 10px;
}

.search-right span{

    border: none;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 120px;
    right: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: all 0.5s;
	border-radius: 4px;
}

.filterDiv {
  color: #ffffff;
  width: auto;
  line-height: auto;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.button {
    background-color: #697a8c;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: all 0.5s;
	  /*align: "middle";*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
 }

/* Style the buttons */
.btn{
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #75b9be;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #697a8c
}

.btn.active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-group button {
  display: inline-block;
  border-radius: 4px;
  background-color: #75b9be;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /*float: left; /* Float the buttons side by side */
  
  
}

.btn-group span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* Clear floats (clearfix hack) */
.btn-group span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group:hover span {
  padding-right: 25px;
}

.btn-group:hover span:after {
  opacity: 1;
  right: 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #75b9be;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #697a8c;
}

.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.footer-basic {
  padding:30px;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
  display:inline-block;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  
}

.footer-basic ul a:hover {
  opacity:1;
  color: green;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:14px;
  color: black;
  width:10px;
  height:10px;
  line-height:10px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
  
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

